<%= form_tag homepage_path, :method => :get do %>
  <head>
    <title>RateMyClass Sign in</title>
  </head>
  <div class="form-group py-1">
    <div><b>Sign In</b></div>
    <label for="username">Username</label>
    <!--<input type="text" class="form-control" id="username">-->
    <%= text_field(:user, :field) %>
  </div>
  <div class="form-group py-0">
    <label for="password">Password</label>
    <!--<input type="password" class="form-control" id="password">-->
    <%= text_field(:pass, :field) %>
  </div>
  <div>
    <p style="color:red;", id="notice"><%= notice %></p>
  </div>
  <div>
    <%= submit_tag 'Sign up', :class => "col-md-2 offset-md-5 btn btn-primary form-control" %>
  </div>
<% end %>