<%= form_tag homepage_path, :method => :post do %>
  <head>
    <title>Please Enter Your Admin Passcode</title>
  </head>
  <div class="form-group py-1">
    <div><b>Sign Up</b></div>
    <label for="adminpass">Admin Code</label>
    <!--<input type="text" class="form-control" id="username">-->
    <%= text_field(:adminpass, :field) %>
    <%= hidden_field_tag(:username, :field, :value => @username) %>
    <%= hidden_field_tag(:password, :field, :value => @password) %>
  </div>
  <div>
    <p style="color:red;", id="notice"><%= notice %></p>
  </div>
  <div>
    <%= submit_tag 'Submit', :class => "btn btn-primary btn-lg", style: "padding-left: 2.5rem; padding-right: 2.5rem;" %>
  </div>
<% end %>