<h1 style = "text-align:center">Editing Comment</h1>
<!--comment edit page: used to edit individual comments on a review-->
<div style = 'justify-content:center;display:flex'>
<%= form_with model: [@review, @review.comments[@index]] do |form| %>
          <p>
            <%= form.label :body %><br>
            <%= form.text_area :body, :value => @review.comments[@index].body %>
          </p>
          <p>
            <%= form.hidden_field :index, :value => @index %>
            <%= form.hidden_field :indexupper, :value => @indexupper %>
            <%= form.submit %>
          </p>
<% end %>
</div>