<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if params[:id] %> 
    <div class="field">
      <%= form.label :username %>
      <%= form.text_field :username, style: "background-color:grey", readonly: true %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :username %>
      <%= form.text_field :username%>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :password_hash %>
    <%= form.text_field :password_hash %>
  </div>
  <% if session[:type] == 'admin' %>
    <div class="field">
      <%= form.label :type_of_user %>
      <%= form.text_field :type_of_user %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
