<p id="notice"><%= notice %></p>
<% if session[:current_username] == @user.username or session[:type] == 'admin' %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password hash:</strong>
  <%= @user.password_hash %>
</p>

<p>
  <strong>Type of user:</strong>
  <%= @user.type_of_user %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<% else %>
<h1>You are not allowed to view this person's login credentials</h1>
<% end %>
<%= link_to 'Back', users_path %>
