<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!--<img src="./project/RateMyClass/app/assets/images/logo.png" alt="..." height="100">-->
  <%= image_tag("logo.png", height:"60%", width:"60%") %>


  <!-- Questions -->
  <div class="field">
    <%= form.label 'Q1: What is the course department? ex: CSCE, ECEN, etc.' %>
    <%= form.text_field :course_title %>
  </div>
  
  <div class="field">
    <%= form.label 'Q2: What is the course code? ex: 121, 222, etc.' %>
    <%= form.text_field :course_code %>
  </div>
  
  <div class="field">
    <%= form.label 'Q3: What is the professors name? ex: Robert Lightfoot, Phillip Richey, etc.' %>
    <%= form.text_field :professor_name %>
  </div>
  
  <div class="field">
    <%= form.label 'Q4: What is the name of the university you took this course? ex: Texas A&M University, University of Texas, etc.' %>
    <%= form.text_field :university_name %>
  </div>
  
  <div class="field">
    <%= form.label 'Q5: On average, how many hours did you spend on assignments/homework for this course per week?' %>
    <%= form.text_field :workTime %>
  </div>

  <div class="field">
    <%= form.label 'Q6: On average, how many hours did you spend on studying/test preparation for this course per week?' %>
    <%= form.text_field :studyTime %>
  </div>

  <div class="field">
    <%= form.label 'Q7: On a scale of 1 - 10, how difficult was this course? (Easiest to Hardest)' %>
    <%= form.radio_button :diffculty, 1 %> 1
    <%= form.radio_button :diffculty, 2 %> 2
    <%= form.radio_button :diffculty, 3 %> 3
    <%= form.radio_button :diffculty, 4 %> 4
    <%= form.radio_button :diffculty, 5 %> 5
    <%= form.radio_button :diffculty, 6 %> 6
    <%= form.radio_button :diffculty, 7 %> 7
    <%= form.radio_button :diffculty, 8 %> 8
    <%= form.radio_button :diffculty, 9 %> 9
    <%= form.radio_button :diffculty, 10 %> 10

  </div>

  <div class="field">
    <%= form.label 'Q8: On average, how many hours did you wish you had spent on completing assignments and/or preparing for this course per week?' %>
    <%= form.text_field :timeWish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
