<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!--<img src="./project/RateMyClass/app/assets/images/logo.png" alt="..." height="100">-->
  <%= image_tag("logo.png", height:"60%", width:"60%") %>


  <!-- Questions -->
  <div class="field">
    <%= form.label 'Q1: On average, how many hours did you spend on assignments/homework for this course per week?' %>
    <%= form.text_field :workTime %>
  </div>

  <div class="field">
    <%= form.label 'Q2: On average, how many hours did you spend on studying/test preparation for this course per week?' %>
    <%= form.text_field :studyTime %>
  </div>

  <div class="field">
    <%= form.label :diffculty %>
    <%= form.text_field :diffculty %>
  </div>

  <div class="field">
    <%= form.label :timeWish %>
    <%= form.text_field :timeWish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
