<p id="notice"><%= notice %></p>

<h1>Reviews for <%= @reviews[@index][0].course_title + " " + @reviews[@index][0].course_code + " with " + @reviews[@index][0].professor_name + " at " + @reviews[@index][0].university_name %></h1>

<h2>Average Review Scores</h2>
<table>
  <thead>
    <tr>
      <th>Worktime</th>
      <th>Studytime</th>
      <th>Diffculty</th>
      <th>Timewish</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td><%= sprintf('%.2f', @reviews_averaged[0]) %></td>
      <td><%= sprintf('%.2f', @reviews_averaged[1]) %></td>
      <td><%= sprintf('%.2f', @reviews_averaged[2]) %></td>
      <td><%= sprintf('%.2f', @reviews_averaged[3]) %></td>
    </tr>
  </tbody>
</table>

<h2>Reviews</h2>
    <% @reviews[@index].each_with_index do |review, index| %>
      <% review.reload %>
      <% if review.pin == true %>
        <%= "[Pinned]" %>
      <% end %>
      <% if session[:type] == "professor" %>
        <%= link_to "Pin Post", pin_path(:review => review, :indexupper => @index) %>
        <%= link_to "Unpin Post", unpin_path(:review => review, :indexupper => @index) %>
      <% end %>
      <table>
        <thead>
          <tr>
            <th>Worktime</th>
            <th>Studytime</th>
            <th>Diffculty</th>
            <th>Timewish</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= review.workTime %></td>
            <td><%= review.studyTime %></td>
            <td><%= review.diffculty %></td>
            <td><%= review.timeWish %></td>
          </tr>
        </tbody>
      </table>
      <% if review.users_id == session[:current_username] %>
        <%= review.users_id %>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
      <% end %>
      <% if review.users_id == session[:current_username] or session[:type] == 'admin' %>
        <td><%= button_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <h4>Thoughts about the class</h4>
      <%= review.thought %>
      <% if review.flag == false %>
        <%= link_to flagpost_path(:review => review, :indexupper => @index) do %>
          <%= image_tag("whiteflag.png", height:"0.5%", width:"0.5%") %>
        <% end %>
      <% else %>
        <% if session[:type] == "admin" %>
          <%= link_to unflagpost_path(:review => review, :indexupper => @index) do %>
            <%= image_tag("yellowflag.png", height:"0.5%", width:"0.5%") %>
          <% end %>
        <% else %>
          <%= image_tag("yellowflag.png", height:"0.5%", width:"0.5%") %>
        <% end %>
      <% end %>
        <h3>Comments</h3>
        <% review.comments.each_with_index do |comment, index| %>
          <% if comment.body != nil %>
            <p>
              <strong>
                <%= "[" + comment.users_id + "]" %>
                <%= "[" + User.find(comment.users_id).type_of_user + "]" %>
              </strong>
              <%= comment.body %>
              <% if comment.flag == false %>
                <%= link_to flagpost_c_path(:comment => comment, :indexupper => @index) do %>
                  <%= image_tag("whiteflag.png", height:"0.5%", width:"0.5%") %>
                <% end %>
              <% else %>
                <% if session[:type] == "admin" %>
                  <%= link_to unflagpost_c_path(:comment => comment, :indexupper => @index) do %>
                    <%= image_tag("yellowflag.png", height:"0.5%", width:"0.5%") %>
                  <% end %>
                <% else %>
                  <%= image_tag("yellowflag.png", height:"0.5%", width:"0.5%") %>
                <% end %>
              <% end %>
            </p>
            <% if comment.users_id == session[:current_username] %>
              <p>
                <%= link_to "Edit Comment", edit_review_comment_path(review, comment, :index => index, :indexupper => @index), method: :edit, data: {turbo_confirm: "Are you sure?"}%>
              </p>
            <% end %>
            <% if comment.users_id == session[:current_username] or session[:type] == 'admin' %>
              <p>
                <%= button_to "Destroy Comment", [comment.review, comment], method: :delete, data: {turbo_confirm: "Are you sure?"}, params: {index: @index}%>
              </p>
            <% end %>
          <% end %>
        <% end %>
        <% if session[:type] == "student" or session[:type] == "professor" %>
          <h4>Add a comment:</h4>
          <%= form_with model: [ review, review.comments.build ] do |form| %>
            <p>
              <%= form.text_area :body %>
            </p>
            <p>
              <%= form.hidden_field :index, :value => @index %>
              <%= form.submit %>
            </p>
          <% end %>
        <% end %>
        <br>
    <% end %>
  <td><%= link_to 'Homepage', homepage_path %></td>