<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'RateMyClass', homepage_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Reviews', indexupper_path %></li>
      <li><%= link_to 'New Review', new_review_path %></li>
      <% if !session[:current_username] %>
        <li><%= link_to 'Sign Up', signup_path %></li>
        <li><%= link_to 'Log In', login_path %></li>
      <% else %>
        <li><%= link_to 'Log out', logout_path %></li>
      <% end %>
    </ul>
    <%= form_tag indexupper_path, :method => :get, class: "form-inline my-2 my-lg-0" do %>
        <div align="right", style="line-height:50%;">
            <br>
            <%= text_field(:search, :field, placeholder: "Search", class: "form-control mr-sm-2") %>
            <%= submit_tag 'Search', :class => "btn btn-outline-success my-2 my-sm-0" %>
        </div>
    <% end %>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>course_code</th>
      <th>course_title</th>
      <th>professor_name</th>
      <th>university_name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @reviews.each_with_index do |review, index| %>
      <tr>
        <td><%= review[0].course_code %></td>
        <td><%= review[0].course_title %></td>
        <td><%= review[0].professor_name %></td>
        <td><%= review[0].university_name %></td>
        <td><%= link_to 'Show', indexlower_path(:index => index) %></td>
        <!--<td><#%= link_to 'Edit', edit_review_path(review) %></td>-->
        <!--<td><#%= button_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<td><%= link_to 'Homepage', homepage_path %></td>