<p id="notice"><%= notice %></p>

<!--SOURCE: https://www.bootdey.com/snippets/view/simple-social-network-post-->
<h1 style="text-align:center;">Reviews for <%= @reviews[@index][0].course_title + " " + @reviews[@index][0].course_code + " with " + @reviews[@index][0].professor_name + " at " + @reviews[@index][0].university_name %></h1>
<% if @reviews[@index][0].university_name == "Texas A&M University" %>
  <h4 style="text-align:center;">See Grade Distribution For This Course <%= link_to ' Here', 'https://anex.us/grades/?dept=' + @reviews[@index][0].course_title.to_s + '&number=' + @reviews[@index][0].course_code.to_s %></h4>
<% end %>
<h4 style="text-align:center;"><%= link_to 'Show Other Courses With ' + @reviews[@index][0].professor_name, indexupper_path(:prof_search => "true", :prof => @reviews[@index][0].professor_name) %></h4>
<h4 style="text-align:center;"><%= link_to 'Show Other ' + @reviews[@index][0].course_title + ' ' + @reviews[@index][0].course_code + ' Courses ', indexupper_path(:course_search => "true", :coursecode => @reviews[@index][0].course_code, :coursetitle => @reviews[@index][0].course_title) %></h4>
<h2 style="text-align:center;">Average Review Scores</h2>
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="post-content">
              <%= image_tag("logo.png", class: "img-responsive post-image", alt: "post-image") %>
              <!--<img src="https://via.placeholder.com/400x150/FFB6C1/000000" alt="post-image" class="img-responsive post-image">-->
              <div class="post-container">
                <!--<img src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg" alt="user" class="profile-photo-md pull-left">-->
                <div class="post-detail">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-5">
                        <strong> Time Spent Working Per Week: </strong> <%= sprintf('%.2f hours', @reviews_averaged[0]) %>
                      </div>
                      <div class="col-sm-5"> 
                        <strong>  Time Spent Studying Per Week: </strong> <%= sprintf('%.2f hours', @reviews_averaged[1]) %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                        <strong> Difficulty: </strong> <%= sprintf('%.2f / 10.00', @reviews_averaged[2]) %>
                      </div>
                      <div class="col-sm-5"> 
                        <strong> Time Wished Spent On The Course Per Week: </strong>  <%= sprintf('%.2f hours', @reviews_averaged[3]) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<h2 style="text-align:center;">Reviews</h2><br>
    <% @reviews[@index].each_with_index do |review, index| %>
      <% review.reload %>
      <% if session[:type] == "professor" %>
        <%= link_to "Pin Post", pin_path(:review => review, :indexupper => @index) %>
        <%= link_to "Unpin Post", unpin_path(:review => review, :indexupper => @index) %>
      <% end %>
    
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="post-content">
                  <!--<img src="https://via.placeholder.com/400x150/FFB6C1/000000" alt="post-image" class="img-responsive post-image">-->
                  <div class="post-container">
                    <img src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg" alt="user" class="profile-photo-md pull-left">
                    <div class="post-detail">
                      <div class="user-info">
                        <h5> 
                          <%= review.users_id %>
                          <% if review.pin == true %>
                            <span class="pinned"> <%= "Pinned" %> </span>
                          <% end %>
                          <br>
                          <% if review.users_id == session[:current_username] %>
                            <td><%= link_to 'Edit', edit_review_path(review) %></td>
                          <% end %>
                          <% if review.users_id == session[:current_username] or session[:type] == 'admin' %>
                            <td><%= button_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          <% end %>
                        </h5>
                        <p class="text-muted">Posted on <%= review.created_at.strftime("%m-%d-%Y") %></p>
                        <% if review.created_at != review.updated_at %>
                          <p class="text-muted">Updated on <%= review.updated_at.strftime("%m-%d-%Y") %></p>
                        <% end %>
                      </div>
                      <% if review.flag == false %>
                        <%= link_to flagpost_path(:review => review, :indexupper => @index), :id => "white_flag" do %>
                          <%= image_tag("whiteflag.png", height:"30.62px", width:"20px", class:"reaction") %>
                        <% end %>
                      <% else %>
                        <% if session[:type] == "admin" %>
                          <%= link_to unflagpost_path(:review => review, :indexupper => @index), :id => "yellow_un_flag" do %>
                            <%= image_tag("yellowflag.png", height:"30.62px", width:"20px", class:"reaction") %>
                          <% end %>
                        <% else %>
                          <%= image_tag("yellowflag.png", height:"30.62px", width:"20px", class:"reaction") %>
                        <% end %>
                      <% end %>

                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-sm-5">
                            <strong> Time Spent Working Per Week: </strong> <%= review.workTime.to_s + " hours" %>
                          </div>
                          <div class="col-sm-5"> 
                            <strong>  Time Spent Studying Per Week: </strong> <%= review.studyTime.to_s + " hours" %> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-5">
                            <strong> Difficulty: </strong>  <%= review.diffculty.to_s + " / 10" %>
                          </div>
                          <div class="col-sm-5"> 
                            <strong> Time Wished Spent On The Course Per Week: </strong>  <%= review.timeWish.to_s + " hours" %>
                          </div>
                        </div>
                      </div>
                        
                      <div class="line-divider"></div>
                      <h4><b>Thoughts about the class</b></h4>
                      <div class="post-comment">
                        <%= review.thought %>
                      </div>
                      <div class="line-divider"></div>
                      <!--<div class="post-comment">-->
                      <!--  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="profile-photo-sm">-->
                      <!--  <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>-->
                      <!--</div>-->
                      
    
                  <h4><b>Comments</b></h4>
                          <% review.comments.each_with_index do |comment, index| %>
                            <% if comment.body != nil %>
                              <p>
                                <div class="line-divider"></div>
                                <div class="post-comment">
                                  <img src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg" alt="" class="profile-photo-sm">
                                  <p><%= comment.users_id %> <span class="following"><%= User.find(comment.users_id).type_of_user %></span> <br>
                                  <%= comment.body %> 
                                  </p>
                                
                                  <% if comment.flag == false %>
                                    <%= link_to flagpost_c_path(:comment => comment, :indexupper => @index), :id => "white_flag_comment" do %>
                                      <%= image_tag("whiteflag.png", height:"15.31px", width:"10px") %>
                                    <% end %>
                                  <% else %>
                                    <% if session[:type] == "admin" %>
                                      <%= link_to unflagpost_c_path(:comment => comment, :indexupper => @index),:id => "yellow_flag_uncomment" do %>
                                        <%= image_tag("yellowflag.png", height:"15.31px", width:"10px") %>
                                      <% end %>
                                    <% else %>
                                      <%= image_tag("yellowflag.png", height:"15.31px", width:"10px") %>
                                    <% end %>
                                  <% end %>
                                </div>
                              </p>
                        <% if comment.users_id == session[:current_username] %>
                          <p>
                            <%= link_to "Edit Comment", edit_review_comment_path(review, comment, :index => index, :indexupper => @index), data: {turbo_confirm: "Are you sure?"}, id: :"edit_comment" %>
                          </p>
                        <% end %>
                        <% if comment.users_id == session[:current_username] or session[:type] == 'admin' %>
                          <p>
                            <%= button_to "Destroy Comment", [comment.review, comment], method: :delete, data: {turbo_confirm: "Are you sure?"}, params: {index: @index}%>
                          </p>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if session[:type] == "student" or session[:type] == "professor" %>
                      <div class="post-comment">
                        <img src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg" alt="" class="profile-photo-sm">
                        <%= form_with model: [ review, review.comments.build ] do |form| %>
                        <p>
                          <%= form.text_area :body, type: "text", class: "form-control", placeholder: "Post a comment", size: "80x80" %>
                        </p>
                        <p>
                          <%= form.hidden_field :index, :value => @index %>
                          <%= form.submit %>
                        </p>
                        
                      <% end %>
                    <% end %>
                        <!--<input type="text" class="form-control" placeholder="Post a comment">-->
                      </div>
                    
                  
                    <br>
                      <!--<div class="post-comment">-->
                      <!--  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-photo-sm">-->
                      <!--  <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>-->
                      <!--</div>-->
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
<% end %>
<%= link_to 'Homepage', homepage_path, style: "display:block;text-align:center" %>