<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Worktime</th>
      <th>Studytime</th>
      <th>Diffculty</th>
      <th>Timewish</th>
      <th>course_code</th>
      <th>course_title</th>
      <th>professor_name</th>
      <th>university_name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.workTime %></td>
        <td><%= review.studyTime %></td>
        <td><%= review.diffculty %></td>
        <td><%= review.timeWish %></td>
        <td><%= review.course_code %></td>
        <td><%= review.course_title %></td>
        <td><%= review.professor_name %></td>
        <td><%= review.university_name %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= button_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <h2>Add a comment:</h2>
      <%= form_with model: [ review, review.comments.build ] do |form| %>
          <p>
            <%= form.label :body %><br>
            <%= form.text_area :body %>
          </p>
          <p>
            <%= form.submit %>
          </p>
      <% end %>
      <h2>Comments</h2>
        <% review.comments.each do |comment| %>
          <p>
            <strong>Comment:</strong>
            <%= comment.body %>
          </p>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>


<!--<p id="notice"><#%= notice %></p>-->
<!--<h1>Reviews</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>course_code</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->
  
<!--  <tbody>-->
<!--    <#% @reviews.each do |review| %>-->
<!--      <tr>-->
<!--        <td><#%= review[0].course_code %></td>-->
<!--        <td><#%= link_to 'Show', indexlower_path %></td>-->
<!--      </tr>-->
<!--    <#% end %>-->
<!--  </tbody>-->
<!--</table>-->