<p id="notice"><%= notice %></p>
<!--<h1>@review.classname</h1>-->
<p>
  <strong>Worktime:</strong>
  <%= @review.workTime %>
</p>

<p>
  <strong>Studytime:</strong>
  <%= @review.studyTime %>
</p>

<p>
  <strong>Diffculty:</strong>
  <%= @review.diffculty %>
</p>

<p>
  <strong>Timewish:</strong>
  <%= @review.timeWish %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
