
<p id="notice"><%= notice %></p>
<!--<h1>@review.classname</h1>-->
<p>
  <strong>Worktime:</strong>
  <%= @review.workTime %>
</p>

<p>
  <strong>Studytime:</strong>
  <%= @review.studyTime %>
</p>

<p>
  <strong>Diffculty:</strong>
  <%= @review.diffculty %>
</p>

<p>
  <strong>Timewish:</strong>
  <%= @review.timeWish %>
</p>

<p>
  <strong>course_code:</strong>
  <%= @review.course_code %>
</p>

<p>
  <strong>course_title:</strong>
  <%= @review.course_title %>
</p>

<p>
  <strong>professor_name:</strong>
  <%= @review.professor_name %>
</p>

<p>
  <strong>university_name:</strong>
  <%= @review.university_name %>
</p>

<p>
  <strong>Thought:</strong>
  <%= @review.thought %>
</p>
<% if @review.users_id == session[:current_username] %>
  <%= link_to 'Edit', edit_review_path(@review) %> |
<% end %>  
<%= link_to 'Back', indexupper_path %>
